@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
    margin: 0; /*cancels out browser-default margins*/
    padding: 0;
    box-sizing: border-box; /*border-box include any padding into the element's content*/   
    /*cursor: url(img/cursor.png) 64 64, auto;*/
}
@font-face {
    font-family: arialnarrow;
    font-style: normal;
    src: url(fonts/arialnarrow.ttf);
}
@font-face {
    font-family: mono;
    font-style: normal;
    src: url(fonts/3X3-MonoRegular.woff);
}
#header{
    position: fixed;
    display: flex;
    padding-left: 4.6%;
    padding-right: 6.4%;
    width: 100vw;
    height: 110px;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 40;
    display: flex;
    flex-direction: row;
    background-size: 100% 110px;
    /*justify-content: space-between;*/
}
.headertext:nth-child(1){
    flex: 1.93;
}
.headertext:nth-child(2){
    flex: 1.93;
}
.headertext:nth-child(3){
    flex: 4;
}
.headertext:nth-child(4){
    flex: 1;
}
#header a{
    text-decoration: none;
}
.headerbackground{
    padding-left: 0rem;
    position: fixed;
    box-shadow: 0 30 50px 50px rgb(70, 70, 70);
}
.headertext{
    font-family: arialnarrow;
    margin-top: 0.3rem;
    font-size: 1.4rem;
    letter-spacing: -0.05px;
    z-index: 50;
    margin-left: 1rem;
}
.headercss{
    background-color: transparent;
}
.headercss:hover{
    /*color: rgb(255, 255, 40);*/
    font-style: italic;
}
.about{
    transition: all 0.3s ease-in;
}
.about:hover{
    font-style: italic;
}
.collophon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    padding-left: 3.7%;
    padding-right: 6%;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 0px;
    z-index: 50;
    overflow: hidden;
    z-index: 100;
    background: rgba(255, 253, 106);
    transition: all 0.3s ease-in;
}
.collophon_open{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    padding-left: 3.7%;
    padding-right: 6%;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: auto;
    overflow: auto;
    z-index: 100;
    background: rgba(255, 253, 106);
    transition: all 0.6s ease-in;
}
.collophontext:nth-child(1){
    flex: 1.77;
}
.collophontext:nth-child(2){
    flex: 1.7;
}
.collophontext:nth-child(3){
    flex: 0.54;
}
.collophontext{
    font-family: arialnarrow;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    letter-spacing: -0.05px;
    z-index: 50;
    margin-left: 2rem;
    color: rgb(0, 0, 0);
}
.collophonlink{
    text-decoration: none;
    margin-left: -0.05rem;
}
.collophonlink:hover{
    font-style: italic;
}
.cancel1{
    width: 50px;
    height: 30px;
    border-bottom: 2.6px solid black;
    transform: translateX(70%) translateY(-6%) rotate(45deg);
    position: relative;
    margin: 0px;
}
.cancel2{
    width: 50px;
    height: 30px;
    border-bottom: 2.6px solid black;
    transform: translateX(32%) translateY(-108%) rotate(-45deg);
    position: relative;
    margin: 0px;
}
body{
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*background-color: rgba(220, 220, 220);*/
    width: 100vw;
    /*cursor: url(img/cursor.png) 36 36, auto;*/
    background-color: rgb(40, 40, 40);
}
html{
    font-size: 20px; /*https://www.cnblogs.com/shireyhu/p/7832124.html*/
}
p{
    font-family: arialnarrow;
    font-style: normal;
    margin-top: 0.6rem;
    margin-bottom: 1.4rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: -0.15px;
}